.is-fullwidth {
  margin:0 !important;
  padding:0 !important;
}

html, body, #root {
  min-height: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

#main {
  width: 100%;
}

body {
  min-width: auto;
  text-align: left;
  font-size: 1rem;

  #root {
    color: #333;
  }

  .columns {
    margin: auto;
  }

  .main-container {
    background-color: $white;

    a {
      color: $cessda_gold;
    }
  }

  .button-wrapper {
    .dropdown {
      margin-top: 30px;
    }
    button {
      height: 45px;
    }
  }

  .link-button {
    color: #ffffff !important;
    display: inline-block;
    padding: 6px 10px;
    flex-grow: 0;
    font-size: 14px;
    border-radius: 3px;
    white-space: nowrap;

    &:hover {
      text-decoration: none;
    }

    &.is-disabled {
      opacity: 0.6;
    }
  }

  .link-button:not(:last-child) {
    margin-right: 4px;
  }
}

.container {
  max-width: 1280px;
}

.result-actions .button {
  font-size: 13px;
}

.large-text {
  font-size: 1.25rem;
}

.list-hit {
  transition: background-color 250ms ease;
  width: 100%;
}


.button:hover {
  text-decoration: none;
}

.abstract {
  text-align: justify;
  flex-wrap: wrap;
  word-break: break-word;

  p {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.panel-header {
  color: #555555;
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-size: 14px;
    padding-left: 3px;
  }
}

.data-abstract, .text-container {
  p {
    margin-bottom: 10px;
  }
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  ol {
    list-style-type: decimal;
    padding-left: 30px;
  }
}

.not-found-layout {
  min-height: 100px;
}

.not-found-links {
  padding: 15px 1.5rem;
  text-align: center;
}

.tag {
  font-size: 0.8rem !important;
  min-height: 2em;
  height: auto !important;
  white-space: normal !important;
}
.tag a:hover{
  text-decoration: underline;
}

.metadata-container {
  position: relative;
}

.info-box {
  width: 385px;
  float: right;
  padding: 10px;
  margin-left: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  .info-box-keywords {
    margin-top: -15px;
    margin-bottom: 15px;
  }
}

.no-language {
  background-color: #f5f5f5;
  padding: 3px 8px;
  font-size: 13px;
  border-radius: 3px;
  margin-bottom: 5px;
}

select::-ms-expand {
  display: none;
}

.show-abstract {
  margin: 5px 0 0 10px;
}

.metrics-circle {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.metrics-circle-text, .metrics-description {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

.export-select {
  width: 120px;
}

.control {
  max-width: 100%;
}

:focus-visible,
.focus-visible:focus-visible,
.is-focused:focus-visible,
.language-picker:focus-within .Select-control,
.switch[type=checkbox]:focus-visible + label::before,
.switch[type=checkbox]:focus-visible + label:before {
  outline: $coordinate_yellow solid 2px;
}

.button-wrapper .dropdown .dropdown-trigger button,
.switch[type=checkbox] + label::before, .switch[type=checkbox] + label:before {
  outline-offset: 1px;
}
