.is-fullwidth {
  margin:0 !important;
  padding:0 !important;
}

html, body, #root {
  min-height: 100%;
  height: 100%;
}

body {
  min-width: auto;
  text-align: left;
  font-size: 1rem;

  #root {
    color: #333;
  }

  .columns {
    margin: auto;
  }

  .sk-toggle-option.is-active {
    background-color: $cessda_gold;
    border-color: $cessda_gold;
  }

  .sk-layout {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white;

    a {
      color: $cessda_gold;
    }

    .sk-toggle-option {
      color: $cessda_gold;
    }

    .sk-toggle-option.is-active {
      color: $white;
    }
  }

  .sk-hits-grid, .sk-hits-list {
    margin: 0;
  }

  .sk-layout__filters, .sk-layout__results {
    box-shadow: none;
  }

  .dsn-list-pagination {
    padding: 10px;
  }

  .sk-hits-list__rights {
    margin: 5px 0;
    padding: 2px 0;
    border-radius: 3px;

    * {
     border-radius: 3px;
    }

    svg {
      margin-right: 5px;
    }
  }

  .sk-hits-list__read-more, .go-to-collection, .go-to-study {
    svg {
      margin-right: 5px;
    }
  }
  h4.sk-hits-list-hit {
    font-weight: 600;
 }
  .sk-hits-list .sk-hits-list-hit {
   
    em {
    background: transparent;
    font-weight: bold
  }
}
  .go-to-collection, .go-to-study {
    margin-right: 10px;
  }

  .language-picker {
    height: 42px;
    padding-top: 0;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 500;
    z-index: 2;

    @at-root header .language-picker {
      position: absolute;
      top: 1px;
      right: 1px;
      background:#fff;
      margin-left: 15px;
      color: #555;
      
     

      .Select {
        .Select-control {
          .Select-value {
            line-height: 42px;

            .Select-value-label {
              color: #000 !important;
              cursor: pointer;
            }
          }

          .Select-arrow {
            border-color: #555 transparent transparent !important;
          }
        }
      }
    }

    label:after {
      content: ':';
    }

    .Select {
      display: inline-block;
      width: 100px;
      vertical-align: middle;

      .Select-control {
      height: 42px;
      line-height:42px;
        border: 0;

    
        .Select-arrow {
          top: 0 !important;
          border-width: 5px 5px 2.5px !important;
        }
      }

      .Select-menu-outer {
        border-radius: 3px;
      }
    }
  }

  .button-wrapper {
    .dropdown {
      margin-top: 30px;

      @include mobile {
        position: absolute;
        right: 0;
        z-index: 3;
        margin-top: -63px;
      }
    }

    button {
      height: 45px;
    }
  }

  .skip-link-wrapper:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .skip-link-wrapper {
    position: relative;
  }

  .search-wrapper {
    position: relative;
    max-width:600px;
    margin: 30px auto 0 auto;
    }
  .sk-hits-stats {
   display:flex;
    margin-top: 0px;
    height:100%;
    z-index: 1;
    justify-content: center;
  align-items: center;

    .sk-hits-stats__info {
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .reset-search {
    position: relative;
    text-align: left;
    z-index: 1;
padding: 6px 0;
   
  }

  .sk-reset-filters {
    color: #ffffff !important;
    display: inline-block;
    margin: 0 4px 0 0;
    padding: 6px 10px;
    flex-grow: 0;
    font-size: 14px;
    background-color: #59707b;

    &:hover {
      text-decoration: none;
      background-color: #6a8592;
    }

    &.is-disabled {
      opacity: 0.6;
    }
  }

  .sk-action-bar-row {
    display: block;
    background-color: #f8f8f8;
    padding: 10px 15px;
    border-radius: 3px;

    label {
      font-weight: 700;
      font-size: 14px;
    }

    select {
      background-color: #ffffff;
      border: 2px solid #eaeae8;
    }
  }
}

.sk-refinement-list__view-more-action {
  display: none;
}

.sk-layout__body {
  margin: 0;
  min-width: auto;

  .list_hit {
    margin-bottom: 0;
    padding: 15px;
    border-radius: 3px;

    &:hover {
      background-color: $hover_hit;
    }

    h4 a:hover {
      text-decoration: underline;
    }
  }

  .sk-hits-grid__meta, .sk-hits-grid__desc {
    font-size: 1rem;
  }

  .Select--multi .Select-value-icon, .Select--multi .Select-value-label {
    display: initial;
  }

  .sk-panel__content {
    word-wrap: break-word;

    .Select-aria-only {
      display: none;
    }
  }

 .Select-clear-zone {
    position: absolute;
    top: -500px;
    display: none;
    }

    & .sk-layout__results .sk-hits-grid-hit .readMore svg{
      margin-right: 5px;
    }
}

.sk-pagination-navigation.is-numbered {
  width: auto;
}

@media screen and (max-width: 920px){
  .sk-range-input {
    display: block;
  }
}

.result-actions {
  display: flex;
  justify-content: space-between;

  .is-flex .buttons:not(:last-child) {
    margin-bottom: 0 !important;
  }

  .is-flex .buttons .button {
    margin-bottom: 0 !important;
  }

  @include touch {
    justify-content: flex-end;
  }
}

.list_hit {
  transition: background-color 250ms ease;
  width: 100%;
}


.button:hover {
  text-decoration: none;
}

.sk-hits-list__desc {
  text-align: justify;
  flex-wrap: wrap;
  word-break: break-word;

  p {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.sk-filter-group {
  margin-bottom: 10px;
}

.sk-filter-group-items__title {
  font-weight: 700;
  margin-right: 10px;
  font-size: 14px;
}

.sk-filter-group-items__value {
  padding: 2px 6px;
  border-radius: 3px;
  margin: 0 5px 5px 0;
  font-size: 14px;
  border: 0;

  &:after {
    content: none;
  }
}

.sk-filter-group__remove-action {
  display: none;
}

.sk-panel__header {
  color: #555555;
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 17px;
    padding-left: 3px;
  }
}

.sk-hits-list__meta {
  margin-bottom: 10px;
  font-style: italic;
  font-size: 14px;
  flex-wrap: wrap;

  span:after {
    display: inline-block;
    content: ' ';
  }
}

.data-label, .about-title, .not-found-title {
  font-weight: 600;
  font-size: 16px;
  margin-top: 15px;
  display: block;
}

.data-abstract, .about-container, .not-found-container, .accessibility-container {
  p {
    margin-bottom: 10px;
  }
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  ol {
    list-style-type: decimal;
    padding-left: 30px;
  }
}

.not-found-layout {
  min-height: 100px;
}

.not-found-links {
  padding: 15px 1.5rem;
  text-align: center;
}

.tag a:hover{
  text-decoration: underline;
}

.similars {
  a {
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
    font-weight:600;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    font-size: 14px;
  }
}

.no-language {
  background-color: #f5f5f5;
  padding: 3px 8px;
  font-size: 13px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.orcid-logo {
  transform: translateY(-2px);
  vertical-align: middle;
}

select::-ms-expand {
  display: none;
}

:focus-visible,
.focus-visible:focus-visible,
.is-focused:focus-visible,
.sk-select select:focus-visible,
.language-picker:focus-within .Select-control,
.button:focus-visible {
  outline: #fdc29b solid 2px;
}

.sk-panel__container,
.button-wrapper .dropdown .dropdown-trigger button {
  outline-offset: 1px;
}
