$white: #ffffff;
$light_blue: #0c66c0;
$dark_blue: #0b6098;
$light_grey: #f8f8f8;
$dark_grey: #4e4d56;


.columns:last-child {
  margin-bottom: 0;
}
.button.is-small {
  font-size: 0.9rem;
}
.button.is-info {
  background-color:$coordinate_blue;
}
.button.no-border:hover, .button.is-hovered {
  color: $dark_blue !important;
}
.button.no-border {
  border-color: transparent;
}
.data-abstract b {
  font-weight: 600;
  display: inline-block;
  margin-top:5px;
}
.side-column .index, .side-column .similars {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
  .main {
    font-size: 1.25rem;
    font-weight: 700;
  }
  .title {
    font-size: 1.125rem;
    font-weight: 600;
  }
  .subtitle {
    font-size: 1rem;
    font-weight: 500;
  }
}
.main-title {
  font-weight: 700;
  font-size: 36px;
}
.summary-header  {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
}


body {
  a {
    color: $dark_blue;
  }

  #stripe {
    background-color: $coordinate_green;
    width: 100%;
    min-height: 30px;
  }

  header {
    position: relative;
    padding-bottom: 0;
    background-size: 50%;

    .header-description {
      font-size: 20px;
      font-weight: 700;
    }
    .demo-text {
      color: #8B0000;
    }
    .demo-text-tooltip {
      margin-left: 2px;
      margin-top: -8px;
      margin-right: 10px;
    }

    .cessda-organisation {
      color: $white;
      font-weight: 500;
      font-size: 13px;
      line-height: 36px;
      padding-left: 0.75rem;

      a {
        display: block;
        height: 21px;
        color: #fff;
      }
    }

    .logo img {
  
margin-left:15px;
    }

 
    .link-button {
      background-color: lighten($dark_blue, 10);

      &:hover {
        background-color: lighten($dark_blue, 15);
      }
    }
  }

  .layout {
    .filters {
      .panel-container {
        background-color: transparent;
   

        .panel-header {
          margin-bottom: 0;
          padding: 10px 10px 10px 25px;
          border-radius: 3px 3px 0 0;

          &:after {
            left: 12px;
          }

          &.is-collapsed {
            padding: 15px 15px 15px 30px;

            &:after {
              top: 50%;
              left: 15px;
            }
          }
        }

        .panel-content {
          margin: 0;
          padding: 5px 15px 15px 15px;
        }
      }
    }

   
  }

  .modal {
    .modal-card-head {
      background-color: $dark_blue;
      border-bottom: 0;

      .modal-card-title {
        color: #ffffff;
        font-size: 20px;
      }
    }

    .modal-card-body {
      margin: -15px 0;
      padding: 30px 20px;
      font-size: 14px;

      p {
        padding-bottom: 5px;
      }
    }

    .modal-card-foot {
      padding: 15px 20px;
      border-top: 0;
      background-color: $light_grey;
      justify-content: flex-end;

      button {
        font-size: 14px;
      }
    }
  }


}
