$dark_blue: #0075b5;
$light_grey: #e7e4e2;
$dark_grey: #555652;

body .sk-layout {
  a {
    color: $dark_blue;
  }

  header {
    position: relative;
    padding-bottom: 40px;
    background-color: $dark_blue;
    overflow: hidden;

    .background {
      position: absolute;
      top: -100%;
      left: -12%;
      width: 400px;
      height: 400px;
      transform: rotate(-75deg);
      z-index: 1;

      &:before, &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
      }

      &:before {
        left: 0;
        background-color: lighten($dark_blue, 5);
      }

      &:after {
        right: 0;
        background-color: lighten($dark_blue, 10);
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .beta {
      font-family: 'Kanit', sans-serif;
      font-size: 0.75rem;
      letter-spacing: 2px;
      color: #0474b5;
      position: absolute;
      top: 12px;
      left: -25px;
      transform: rotate(-45deg);
      background-color: #ffffff;
      width: 100px;
      height: 20px;
      text-align: center;
      z-index: 2;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 45px;
      width: 100%;
      border-top: 45px solid $dark_grey;
      border-left: 100vw solid transparent;
      z-index: 2;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 30px;
      width: 100%;
      border-bottom: 30px solid #ffffff;
      border-left: 100vw solid transparent;
      z-index: 2;
    }

    .logo {
      position: relative;
      text-align: center;
      width: 250px;
      margin-top: 30px;
      z-index: 2;

      .cessda-eric {
        display: block;
        background: url("../img/logo.svg") no-repeat;
        background-size: 248px 44px;
        height: 44px;
        width: 248px;
      }

      .cessda-pasc {
        font-family: 'Kanit', sans-serif;
        font-size: 0.75rem;
        letter-spacing: 2px;
        color: #ffffff;
        width: 250px;
        margin: 10px 0 0 4px;
        display: block;
      }

      @media screen and (max-width: 768px) {
        margin: 30px auto;
      }
    }

    .sk-search-box {
      border: 0;
      border-radius: 3px;

      .sk-search-box__icon {
        margin: 12px 0 0 12px;
      }

      .sk-search-box__loader {
        margin: 12px;
      }
    }

    .sk-reset-filters {
      background-color: lighten($dark_blue, 5);

      &:hover {
        background-color: lighten($dark_blue, 10);
      }
    }
  }

  .sk-layout__body {
    .sk-layout__filters {
      .sk-panel {
        background-color: transparent;
        padding: 0;
        border-radius: 3px;

        .sk-panel__header {
          margin-bottom: 0;
          padding: 15px 15px 23px 30px;
          border-radius: 3px 3px 0 0;
          color: #ffffff;
          background-color: $dark_blue;
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          transition: color 250ms ease, border-top-color 250ms ease, border-left-color 250ms ease, background-color 250ms ease;

          &:after {
            top: 46%;
            left: 12px;
            border-top: 5px solid #ffffff;
            border-left: 5px solid transparent;
          }

          &.is-collapsed {
            padding: 15px 15px 15px 30px;
            color: $dark_grey;
            background-color: $light_grey;
            border-radius: 3px;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

            &:after {
              top: 50%;
              left: 15px;
              border-top: 5px solid transparent;
              border-left: 5px solid $dark_grey;
            }
          }
        }

        .sk-panel__content {
          margin: -15px 0 0 0;
          padding: 30px 15px 15px 15px;
          background-color: $light_grey;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;

          .sk-range-slider {
            margin: 15px;
          }
        }
      }
    }

    .sk-action-bar-row {
      background-color: $light_grey;
    }

    .list_hit {
      &:hover {
        background-color: transparentize($light_grey, 0.7);
      }
    }

    .panel {
      background-color: $light_grey;
    }

    .data-label {
      color: $dark_blue;
    }
  }

  footer {
    position: relative;
    background-color: $dark_grey;
    color: $light_grey;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30px;
      border-top: 30px solid #ffffff;
      border-left: 100vw solid transparent;
    }

    .hero {
      background-color: transparent;

      a {
        color: $light_grey;

        &:hover {
          text-decoration: underline;
        }
      }

      strong {
        color: $light_grey;
      }
    }
  }
}
