$white: #ffffff;
$light_blue: #0c66c0;
$dark_blue: #2b5a9b;
$light_grey: #f8f8f8;
$dark_grey: #4e4d56;


.columns:last-child {
  margin-bottom: 0;
}
.button.is-small {
  font-size: 0.9rem;
}
.button.is-info {

  background-color:#3671c3;
}
.button.is-info:hover, .button.is-info.is-hovered {
  background-color: #477fcc;
  border-color: transparent;
  color: #fff;
}
.data-abstract b {
font-weight: 600;
display: inline-block;
margin-top:5px;
}
.summary-header  {
padding-left: 3px;
  font-weight: 700;
  font-size: 17px;
padding-bottom: 5px;
}
.data-label {
   padding: 3px;
  margin-bottom: 3px;
  background: $light_grey;
  border-radius: 3px;
}
article > .data-abstract, article .sk-panel__content > div, .sk-panel__content > p, .sk-panel__content > span, article > section > div, article > p, article > section > p {
  padding-left: 3px;
}
body .sk-layout {
  a {
    color: $light_blue;
  }

  header {
    position: relative;
    padding-bottom: 0;
    background: url("../img/line-background.png") no-repeat right center;
    background-size: 50%;

    #topstripe {
      height: 36px;
      background: $dark_grey;
    }

    #bluestripe {
  
      background-color: $dark_blue;
      .container .columns {
        margin-left:0.75rem;
        margin-right:0.75rem;
      
      }
    }

    
    .cessda-organisation {
      color: $white;
      font-weight: 500;
      font-size: 13px;
      line-height: 36px;
      padding-left: 0.75rem;

      a {
        display: block;
        height: 21px;
        color: #fff;
      }
    }

    .logo {
      position: relative;
      text-align: center;
      width: 275px;
      margin-top: 20px;
      margin-bottom:15px;
  
      svg {
        height: 60px;
        width: auto;
      }

      .st0 {
        fill: #43484e;
      }

      .st3 {
        opacity: 0.2;
        fill: #f2f7fb;
        enable-background: new;
      }
      .st5 {
        fill: #fff;
      }

      .cessda-eric {
        display: block;
        height: 69px;
        width: 275px;
      }

      @media screen and (max-width: 768px) {
        margin: 20px auto -20px auto;
      }
    }

    .sk-search-box {
      border: 1px solid #e5e5e5;
      border-radius: 0;

      .sk-search-box__icon {
        margin: 12px 0 0 12px;
      }

      .sk-search-box__loader {
        margin: 12px;
      }
    }

    .sk-reset-filters {
      background-color: lighten($dark_blue, 10);

      &:hover {
        background-color: lighten($dark_blue, 15);
      }
    }
  }

  .sk-layout__body {
    .sk-layout__filters {
      .sk-panel {
        background-color: transparent;
        padding: 0;
        border-radius: 3px;

        .sk-panel__header {
          margin-bottom: 0;
          padding: 15px 15px 15px 30px;
          border-radius: 3px 3px 0 0;
          color: $dark_grey;
          background-color: $light_grey;

          &:after {
            left: 12px;
            border-top: 5px solid $dark_grey;
            border-left: 5px solid transparent;
          }

          &.is-collapsed {
            padding: 15px 15px 15px 30px;
            color: $dark_grey;
            border-radius: 3px;

            &:after {
              top: 50%;
              left: 15px;
              border-top: 5px solid transparent;
              border-left: 5px solid $dark_grey;
            }
          }
        }

        .sk-panel__content {
          margin: 0;
          padding: 5px 15px 15px 15px;
          background-color: $light_grey;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;

          .sk-range-slider {
            margin: 15px;

            .rc-slider-track {
              background-color: $light_blue;
            }
          }
        }
      }
    }

    .sk-action-bar-row {
      background-color: $light_grey;
    }

    .list_hit {
      &:hover {
        background-color: transparentize($light_grey, 0.2);
      }
    }

    .panel {
      background-color: $light_grey;
    }

    .sk-panel__container {
      & > .dropdown .dropdown-trigger button {
        color: $dark_grey;
      }
    }

    .data-label {
      color: $dark_grey;
    }
  }

  .sk-filter-group-items__value {
    background-color: $light_grey;
    color: $dark_grey;
  }

  .modal {
    .modal-card-head {
      background-color: $dark_blue;
      border-bottom: 0;

      .modal-card-title {
        color: #ffffff;
        font-size: 20px;
      }
    }

    .modal-card-body {
      margin: -15px 0;
      padding: 30px 20px;
      font-size: 14px;

      p {
        padding-bottom: 5px;
      }
    }

    .modal-card-foot {
      padding: 15px 20px;
      border-top: 0;
      background-color: $light_grey;
      justify-content: flex-end;

      button {
        font-size: 14px;
      }
    }
  }

  footer {
    position: relative;
    background-color: $dark_grey;
    color: $white;
    font-weight: 500;
    .ssst0 {
      fill: #fff;
    }
    .hero {
      background-color: transparent;

      .hero-body {
        padding: 15px 1.5rem;

        .footer-line {
          position: absolute;
          top: 72px;
          left: 340px;
          right: 0;
          height: 0;
          border-top: 1px solid $dark_grey;
        }

        #footerlogo {
          height: 40px;
          width: auto;
          margin-top:4px
        }
        .blinks {
          margin-top: 10px;
        }
        .footer-social {
          list-style: none;

          li {
            display: inline-block;
            margin-left: 10px;
            font-size: 14px;
            color: $dark_grey;

            a {
              font-size: 22px;
              font-weight: normal;

              &:hover,
              &:hover svg {
                color: $light_blue;
              }
            }
          }
        }

        a {
          color: white;
          font-weight: 400;
          &:hover {
            text-decoration: underline;
          }
        }

        svg {
          transition: color 500ms ease;
          color: lighten($dark_grey, 15);
        }
      }
    }
  }
}
