.filters, .side-column {
  position: relative;

  .panel-container {
    background-color: #f8f8f8;
    border-radius: 3px;

    .panel-header {
      padding: 15px;
      margin-bottom: 0;
    }

    &.is-disabled {
      display: block;
      opacity: 0.4;
      cursor: not-allowed;

      * {
        pointer-events: none;
      }
    }
  }
}

.selected-filters-container {
  max-width: 100%;
  gap: 0.5rem;
}

.selected-filters-button {
  padding: 0.25rem 0.5rem;
  background: #e5e5e5;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
  min-width: 0;
  width: auto;
  max-width: 100%;
}

.selected-filters-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  margin-right: 0.5rem;
}
