.skip-link-wrapper:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.skip-link-wrapper {
  position: relative;
}


header {
  .navbar {
    background-color: transparent;
    min-height: auto;
    .buttons {
      height: 2.5em;
    }

    .buttons:last-child {
      margin-bottom: 0;
    }

    .link {
      display:inline-block;
      padding: 10px;
      font-weight: 700;
    }

    @media screen and (min-width: 1280px) {
      // Same as .is-narrow but it can't be always applied or .is-right won't work when we need it to
      flex: none;
      width: unset;
    }
  }
}
