.ais-Pagination-list {
  justify-content: center;
}

.ais-Pagination-list {
  flex-wrap: wrap;
}

.ais-CurrentRefinements-list {
  display: flex;
  flex-wrap: wrap;
}

.ais-CurrentRefinements-item {
  flex-direction: column;
  flex-wrap: wrap;
}

.ais-Hits-item .list-hit h2 .button {
  white-space: normal;
}

.ais-ClearRefinements-button {
  width: auto;
}

.ais-ClearRefinements-button.button, .ais-ClearRefinements-button.button:disabled {
  background-image: none;
  color: white;
}

.ais-Panel {
  margin-bottom: 0;
}

.ais-Stats {
  display: flex;
  justify-content: center;
  margin-left: 15px;
}

.ais-RefinementList, .ais-Hits {
  box-shadow: none;
  margin: 0;
  padding: 0.75rem 0.75rem;
  @extend .column;
}

.ais-CustomRefinementList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: scroll;
  max-height: 500px;
  
  .ais-RefinementList-item {
    margin: 0 5px 2px 0;
  }
}

.ais-RangeInput-input,
.ais-SearchBox-input {
  outline-offset: 1px;
}

.ais-RangeInput-input {
  max-width: 100px;
}

.ais-HitsPerPage-select:focus-visible, .ais-SortBy-select:focus-visible {
  color: #23263b;
}
