.ais-Pagination-list {
  justify-content: center;
}

.ais-Pagination-list {
  flex-wrap: wrap;
}

.ais-CurrentRefinements-list {
  display: flex;
  flex-wrap: wrap;
}

.ais-CurrentRefinements-item {
  flex-direction: column;
  flex-wrap: wrap;
}

.ais-Hits-item .list-hit h2 .button {
  white-space: normal;
}

.ais-ClearRefinements-button, .ais-ClearRefinements-button:active, .ais-ClearRefinements-button:focus, .ais-ClearRefinements-button:disabled[disabled] {
  width: auto;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: inherit;
}

.ais-ClearRefinements-button:hover {
  background-image: none;
  color: hsl(0, 0%, 21%);
}

.ais-ClearRefinements-button:focus {
  background-image: none;
}

.ais-ClearRefinements-button:disabled[disabled] {
  cursor: not-allowed;
  color: hsl(0, 0%, 60%);
}

.ais-Panel {
  margin-bottom: 0;
}

.ais-Stats {
  display: flex;
  justify-content: center;
  margin-left: 15px;
}

.ais-RefinementList,
.ais-Hits {
  box-shadow: none;
  margin: 0;
  padding: 0.25rem 0.75rem;
  @extend .column;
}

.ais-CustomRefinementList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 500px;
}

.ais-CustomRefinementList-item-alt {
  margin-left: 1%;
  margin-right: 2%;
  width: 45%;
}

.ais-CustomRefinementList-item {
  margin-left: 1%;
  margin-right: 2%;
  width: 97%;
}

@media screen and (max-width: 1020px) {
  .ais-CustomRefinementList-item {
    margin-left: 1%;
    margin-right: 2%;
    width: 97%;
  }
}

.ais-RangeInput-input,
.ais-SearchBox-input {
  outline-offset: 1px;
}

.ais-RangeInput-input {
  max-width: 100px;
}

.ais-HitsPerPage-select:focus,
.ais-SortBy-select:focus {
  border-color: #d6d6e7;
  box-shadow: none;
}

.ais-HitsPerPage-select:focus-visible,
.ais-SortBy-select:focus-visible {
  color: #23263b;
}
