.mobile-filters-toggle {
  display: none !important;
}

@media screen and (max-width: 1023px) {

  .button.is-small {
    font-size: 0.8rem;
  }
.blinks {

font-size:14px;
}
  @at-root header .language-picker {
    position: absolute;
    top: 1px;
    right: 1px;

  
    

  }

body {
    .sk-reset-filters {
      padding: 4px;
      font-size:13px;
    }
  }
  header {
    background: #ffffff !important;

    &:after {
      display: none;
    }


   


    .sk-hits-stats {
      margin: 0;
      text-align: center;

      .sk-hits-stats__info {
        color: #333333;
      }
    }

 

    .reset-search {
      background-color: #2b5a9b;
    max-width:100%;
    padding:6px 3px;

     
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  header {
    background-size: 100% !important;
  }

  .cessda-organisation {
    display: none;
  }

  .sk-search-box {

       ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      font-size: 13px;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      font-size: 13px;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      font-size: 13px;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      font-size: 13px;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      font-size: 13px;
    }
  }

 

  .mobile-filters-toggle {
    display: inline-block !important;
  }

  .sk-layout__filters {
    display: none;
  }

  .show-mobile-filters {
    .container {
      min-width: 100%;
    }

    .sk-layout__body {
      position: relative;
    }

    .sk-layout__filters {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999999;
    }

    .sk-results-list, footer {
      display: none !important;
    }
  }

  .sk-layout__body .sk-layout__filters .Select-menu-outer {
    top: 38px;
    left: 0;
    width: 100%;
  }

  .sk-layout__body .list_hit {
    margin-bottom: 15px;
    background-color: $hover_hit;
  }

  .result-actions {
    display: block;
    opacity: 1;
  }

  .sk-action-bar {
    .level-left > .level-item, .level > .level-item {
      display: none;
    }

    .level-right {
      margin: auto;
    }
  }

  footer {
    .footer-social {
      position: static !important;
    }

    .logo-footer {
      margin: auto;
    }

    .is-4 {
      text-align: center !important;
    }
  }
}
