.mobile-filters-toggle {
  display: none !important;
}

@media screen and (max-width: 1023px) {

  .button.is-small {
    font-size: 0.8rem;
  }

  header {
    background: #ffffff !important;

    &:after {
      display: none;
    }

    .reset-search {
      background-color: #2b5a9b;
      max-width:100%;
      padding:6px 3px;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    background-size: 100% !important;
  }

  .cessda-organisation {
    display: none;
  }

  .mobile-filters-toggle {
    display: inline-block !important;
  }

  .filters {
    display: none;
  }

  .show-mobile-filters.footer {
    display: none;
  }

  .show-mobile-filters {
    .ais-Panel-body {
      position: relative;
    }

    .filters {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 99998;

      .filter-buttons {
        flex-direction: row;
        justify-content: flex-end;

        .column {
          display: flex;
          flex-grow: 0;
        }
      }
    }

    .ais-Stats-Dropdowns, .ais-Hits-list, .ais-Pagination, .show-abstract {
      display: none !important;
    }
  }

  .ais-Panel-body .filters .Select-menu-outer {
    top: 38px;
    left: 0;
    width: 100%;
  }

  .result-actions {
    display: block;
    opacity: 1;
  }

  .sk-action-bar {
    .level-left > .level-item, .level > .level-item {
      display: none;
    }

    .level-right {
      margin: auto;
    }
  }

  footer {
    .footer-social {
      position: static !important;
    }

    .logo-footer {
      margin: auto;
    }

    .is-4 {
      text-align: center !important;
    }
  }

  .demo-text-tooltip {
    .dropdown-menu {
      right: -28px !important;
    }
  }
}

@media screen and (max-width: 420px) {
  .filter-buttons {
    flex-direction: column !important;
    align-items: flex-end !important;

    .column:not(:last-child) {
      margin-right: 0 !important;
      margin-bottom: 8px !important;
    }
  }
}
