.panel-container {
  margin: 0 0 15px 0 !important;
  border: 0;
  border-radius: 3px;
  background-color: #f8f8f8;
  box-shadow: none;
}

.panel-container {
  &.section-header {
    .panel-header {
      padding: 15px 15px 0 0;
      margin: 15px 0 0 0;
      border-top: 1px solid #eeeeee;

      &:after {
        top: 27px;
      }
    }
  }
}

.panel-header {
  padding: 15px 15px 0 15px;
}

.panel-header.collapsable .panel-title {
  position: absolute;
  margin: -22px 0 0 15px;
}

.panel-container .panel-header.collapsable:before {
  content:'▼';
}

.panel-container .panel-header.collapsable.collapsed:before {
  content:'▶';
}

.panel-container .panel-content.collapsable.collapsed {
  display: none;
}

.panel-content {
  margin: 0 10px 10px 10px;
  padding-bottom: 15px;
}
