.panel {
  margin: 0 0 15px 0 !important;
  padding: 12px 15px;
  border: 0;
  border-radius: 3px;
  background-color: #f8f8f8;
}

.sk-panel {
  &.section-header {
    .sk-panel__header {
      padding: 15px 15px 0 15px;
      margin: 15px 0 0 0;
      border-top: 1px solid #eeeeee;

      &:after {
        top: 27px;
      }
    }
  }
}
