

@media screen and (min-width: 990px) {
  header h1 {
    font-size: 20px;
    font-weight: 700;
  }

  input.searchbox {
    width: 360px;
    height: auto;
    max-height: 38px;
    margin-left: 2px;
  }

  .logo img {
    height: 66px;
    width: auto;
    margin-right: 10px;
    margin-top: 4px;
    margin-left: 15px;
  }

  .ais-Hits-item {
    margin: 25px 40px;
  }

  .navbar-brand {
    display: none;
  }

  .language-picker {
    width: 120px;
    font-size: 14px;

  }
  .main-column {
    order: 2
  }
.side-column {
  order: 1
}
  .servicelogo {
    max-width: 400px;
    height: auto;
  }
}

@media screen and (max-width: 990px) {
  .navbar-menu.is-active {
    position: absolute;
    top: 60px;
    right: 5px;

  }

  .language-picker {
    width: 110px;
    font-size: 13px;
  }

  input.searchbox {
    width: 180px;
    font-size: 13px;
    line-height: 36px;
    height: auto;
    max-height: 38px;
    margin-left: 2px;
  }

  .navbar-burger span {
    height: 2px;

  }

  .filters {
    padding-top: 0;
  }



  .is-hidden-tablet+.filters {
    padding-bottom: 0;
  }

  .layout>.is-hidden-tablet {
    padding-bottom: 0;
  }

  .ais-Hits-item {
    margin: 15px;
  }

  header h1 {
    font-size: 16px;
    font-weight: 700;

  }

  .logo img {
    height: 40px;
    width: auto;
    margin-right: 4px;
    margin-top: 4px;
    margin-left: 4px;
  }

  .navbar-item {
    white-space: nowrap;
  }



}


.export-select {
 height:32px;
 font-size:14px;
}
.export {
  height:38px;
  margin-left:2px;
 
}
.navbar-burger {
  border: none;
}

.block {
  display: block;
}

.switch[type=checkbox]+label {

  line-height: 1;
}

.switch[type=checkbox]+label::after,
.switch[type=checkbox]+label:after {
  left: 14px;
  top: 13px;
  width: 0.7rem;
  height: 0.7rem;

}

.switch[type=checkbox]:checked+label::after {
  left: 33px;
}

.searchwrapper button {
  background-color: hsl(201, 20%, 90%);
  border: none;
  height: 36px;
  font-size: 14px;
  margin-left: 2px;
}

.switch[type=checkbox]+label::before,
.switch[type=checkbox]+label:before {
  top: 9px;
  left: 8px;
  width: 2.6rem;
  height: 1.2rem;
  border: 1px solid transparent;
}

main {
  transition: background-color 0.2s, color 0.2s;
}

.view-selector:hover {
  cursor: pointer;
}

.view-selector .react-select__option {
  background-color: transparent;
  transition: background-color 0.2s;
}

.view-selector .react-select__menu-list {
  padding: 0;
}

.view-selector .react-select__control {
  background-color: transparent;
}

a.columns {
  display: block;
}

.view-selector .react-select__control:hover {
  cursor: pointer;
}

.select-icon img {
  height: 40px;
  width: auto;
}

.tv-wrapper {
  z-index: 99;
}

.ais-Hits-item {
  box-shadow: none;
  padding: 0 0 25px 0;
  border-bottom: 1px solid hsl(201, 20%, 85%);
}


.button.is-info,
fieldset .button.is-info {
  border: none;
  box-shadow: none;
  font-size: 14px;
  transition: background-color 0.2s, color 0.2s;
}

.button.is-info[disabled],
fieldset[disabled] .button.is-info {
  background-color: hsl(201, 20%, 95%);
  color: hsl(201, 21%, 15%);
  border: none;
}

.ais-HitsPerPage-select,
.ais-SortBy-select,
.ais-Stats-text {

  font-size: 14px;
}

.list-hit .title {
  margin-bottom: 0;
  line-height: 1.3;
  font-size: 17px;
}

.list-hit .title+.subtitle {
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 1.4;
}

.list-hit .abstract {
  margin-top: 5px;
  font-size: 15px;
  line-height: 1.5;
}

.list-hit a:hover,
.navbar a:hover {
  text-decoration: underline;
}

.field.toggle-button {
  margin-left: 0;
  margin-bottom: 0;
}

.field.toggle-button label {
  font-size: 14px;
  transition: background-color 0.2s;
}

.field.toggle-button label::before {
  transition: background-color 0.2s;
}

.ais-Hits {
  padding: 0;
}

.ais-Pagination {
  background-color: white;

}

.panel-container {
  border: none;
}

.panel-container {
  &>.dropdown .dropdown-trigger button {
    color: hsl(201, 21%, 75%);
  }
}

.hits-wrapper {
  background-color: #fff;
  padding: 0 0 20px 0;
  margin-bottom: 40px;
  border-radius: 12px;
  border: 1px solid hsl(201, 20%, 90%);
}

.content-wrapper {
  background-color: #fff;
  padding: 0 0 20px 0;
  margin-bottom: 40px;
  border-radius: 12px;
  border: 1px solid hsl(201, 20%, 90%);
}
.content-wrapper h2 {
  font-weight: 700;
  font-size: 21px;
  line-height:1.4;
}
.collection-card {
  border: 1px solid #dee2e6;
    border-radius: 5px;
     box-shadow: rgba(0, 0, 0, .1) 0px 4px 12px;
    transition: all .3s;
   
    height:100%;
}
.content-wrapper .collection-card a {
display: block;
    background-color: #f8f9fa;
  transition: background-color 0.2s;
  padding:20px;
  color: #444;
  height:100%;
}
.collection-card a:hover {
  background: #fff;
  color: #222;
}
@media screen and (min-width: 990px) {
  .hits-wrapper {
    margin-right: 0;

  }
}

.smalltext {
  font-size: 14px;
  line-height: 1;
}

.filter-wrapper {
  background-color: #fff;
  padding: 0 0 5px 0;
  border-radius: 12px;
  border: 1px solid hsl(201, 20%, 90%);
}

.study-wrapper {
  background-color: #fff;
  padding: 5px 25px 15px 25px;
  margin-top: 10px;
  border-radius: 12px;
  border: 1px solid hsl(201, 20%, 90%);
}

h2.filters, .similars h2 {
  font-weight: 700;
  font-size: 16px;
  margin: 15px 0 10px 25px
}
.metadata-section .metadata-title  {
  font-weight: 700;
  font-size: 17px;
  line-height:21px;
  margin: 15px 0 0 -10px;
  padding: 5px 10px;
}
.metadata-subtitle {
  padding: 3px 3px 3px 10px;
  margin-top: 15px;
  margin-bottom: 3px;
  margin-left:-10px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  color: #444;
  background: #f1f1f1;
  display: block;
}
.metadata-section:not(:first-child) {
  border-top: 1px solid #eee;
  margin-top: 15px;
}
.similars ul {
  margin: 0 25px 15px 25px;
  font-size: 14px;
  line-height: 1.3;
}

.similars ul li {
  margin-bottom: 5px;
  padding-top: 5px;
  border-top: 1px solid hsl(201, 20.7%, 90%);
  ;
}

#home {
  cursor: pointer;
}

.panel-title, .panel-title::before {
  cursor: pointer;
}

.panel-header {
  color: hsl(201 20.7% 80%);
}

.panel-container {
  border-top: 1px solid hsl(201, 20%, 90%);
}

.button.is-info,
fieldset .button.is-info {
  padding: 0;
}

.button.is-info:focus,
.button.is-info.is-focused {
  border-color: transparent;
  background: transparent;
  color: #666;
  outline: none;
}
#footerlogo {
  width: 136px;
  height: auto;
}
#logofooter {
  width: 60px;
  height: auto;
}
#horizonlogo {
  width:112px;
  height: auto;
}
.credit {
  font-size:12px;
  line-height:1.3;
}

.menu-dropdown {
  position: absolute;
  display: flex;
  z-index: 2;
  left: -20px;
  top: 40px;
  border: 1px solid #ddd;
  font-size: 15px;
}

.menu-dropdown ul {
  display: flex;
  flex-direction: column;
  background: white;
  min-width: 200px;
  white-space: nowrap;
}

.ais-Hits-list .ais-Hits-item .list-hit .result-actions .button {
  font-size: 14px; 
}

.button.is-ghost:focus:not(:active),
.button.is-focused:not(:active) {
  box-shadow: none;
}

.tv-menu-item {
  transition: background-color 0.2s;
}

.tv-menu-item:hover,
.tv-menu-item.selected {
  background-color: hsl(201, 20%, 96%);
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  background-color: inherit;
  color: inherit;
}

footer a:hover {
  background-color: inherit;
  color: inherit;
  text-decoration: underline;
}

.collIcon {
  width:120px;
  height:auto;
}

body {

  .button.is-info,
  fieldset .button.is-info {
    color: hsl(178, 5%, 10%);
    font-weight: 700;
    background-color: transparent;
  }

  .switch[type=checkbox].is-info:checked+label::before,
  .switch[type=checkbox].is-info:checked+label:before {
    background: hsl(201, 50%, 60%);
  }

  mark {
    background-color: hsl(25, 95%, 92%);
  }



  .view-selector .react-select__option:hover {
    cursor: pointer;
    background-color: hsl(201, 20%, 95%);
  }

  .view-selector .react-select__option--is-selected {
    background-color: hsl(201, 20%, 95%);
    color: $cdc_text;
  }

  header h1 {

    color: $cdc_text;
  }

  color: $cdc_text;


}
