.sk-panel__container {
  position: relative;

  & > .dropdown {
    position: absolute;
    top: 8px;
    right: 15px;

    .dropdown-trigger {
      z-index: 1;

      button {
        padding: 0;
        background: none;
        border: none;
      }
    }

    .dropdown-menu {
      min-width: 14rem;
    }
  }
}

.tooltip-icon {
  pointer-events: none;
}