.panel-container {
  position: relative;

  & > .dropdown {
    position: absolute;
    top: 1px;
    right: 15px;
  }
}

.dropdown {

  .dropdown-trigger {
    // z-index: 1;

    button {
      padding: 0;
      background: none;
      border: none;
    }
  }

  .dropdown-menu {
    min-width: 14rem;
  }
}