// Margin

.m-a {
  margin: auto !important;
}

.m-0 {
  margin: 0 !important;
}

.m-5 {
  margin: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

// Margin Top

.mt-a {
  margin-top: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

// Margin Right

.mr-a {
  margin-right: auto !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mrn-5 {
  margin-right: -5px !important;
}

// Margin Bottom

.mb-a {
  margin-bottom: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

// Margin Left

.ml-a {
  margin-left: auto !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.mln-5 {
  margin-left: -5px !important;
}

// Padding

.p-a {
  padding: auto !important;
}

.p-0 {
  padding: 0 !important;
}

.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

// Padding Top

.pt-a {
  padding-top: auto !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

// Padding Right

.pr-a {
  padding-right: auto !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

// Padding Bottom

.pb-a {
  padding-bottom: auto !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

// Padding Left

.pl-a {
  padding-left: auto !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

// Height

.h-a {
  height: auto !important;
}

.h-50 {
  height: 50% !important;
}

.h-100 {
  height: 100% !important;
}

// Width

.w-a {
  width: auto !important;
}

.w-50 {
  width: 50% !important;
}

.w-100 {
  width: 100% !important;
}

// Miscellaneous

.bg-w {
  background-color: #ffffff !important;
}

.pe-none {
  pointer-events: none !important;
}

.fs-14 {
  font-size: 14px;
}
