/*
  Defined primary, secondary and accent colors from the design template
*/

$coordinate_green: #318440;
$coordinate_blue: #4c6ab2;
$coordinate_yellow: #fdd600;

$cessda_gold: rgb(144,91,50);
$cessda_blueish: #455a64;
$cessda_dotted: 1px dotted rgb(121,184,226);

$ais_box_shadow: 0 0 0 1px rgba(35, 38, 59, 0.05), 0 1px 3px 0 rgba(35, 38, 59, 0.15);

$grey: rgba(0, 0, 0, 0.05);
$greyish-brown: #555555;
$light_grey: #c3c3c3;
$darkish_grey: #979797;
$dark_grey: #9b9b9b;
$white: #ffffff;
$hover_hit: rgba(244, 244, 241, 0.5);
$text: #49626f;
