/*
  Defined primary, secondary and accent colors from the design template
*/

$cessda_gold: rgb(144,91,50);
$cessda_blueish: #455a64;
$cessda_dotted: 1px dotted rgb(121,184,226);

$grey: rgba(0, 0, 0, 0.05);
$greyish-brown: #555555;
$light_grey: #c3c3c3;
$darkish_grey: #979797;
$dark_grey: #9b9b9b;
$white: #ffffff;
$hover_hit: rgba(244, 244, 241, 0.5);
