# Don't pack documentation and build environment content into the Docker container
*.md
.editorconfig
.git
.gitattributes
.gitignore
coverage
docs
flow-typed
node_modules
tests
Jenkinsfile
jest.config.js
junit.xml
sonar-project.properties
