# Don't pack documentation and build environment content into the Docker container
*.md
.editorconfig
.git
.gitattributes
.gitignore
.github
.vs
.vscode
coverage
dist
docs
Dockerfile
flow-typed
node_modules
tests
Jenkinsfile
jest.config.js
junit.xml
sonar-project.properties
