$default_primary_highlight: hsl(204, 87%, 32%);
$default_secondary_highlight: hsl(204, 87%, 52%);
$default_text: hsl(201, 21%, 36%);
$default_bg: hsl(201, 20%, 96%);
$default_footer: hsl(201, 20%, 100%);

$cdc_primary_highlight: hsl(204, 87%, 25%);
$cdc_secondary_highlight: hsl(204, 87%, 52%);
$cdc_text: hsl(201, 21%, 36%);
$cdc_bg: hsl(201, 20%, 96%);
$cdc_footer: hsl(201, 20%, 100%);

$coordinate_primary_highlight: hsl(178, 62%, 25%);
$coordinate_secondary_highlight: hsl(52, 24%, 63%);
$coordinate_text: hsl(208, 7%, 46%);
$coordinate_bg: hsl(178, 5%, 92%);
$coordinate_footer: hsl(178, 5%, 100%);
$coordinate_focus: hsl(51, 100%, 50%);

$hummingbird_primary_highlight: hsl(204, 87%, 32%);
$hummingbird_secondary_highlight: hsl(204, 87%, 52%);
$hummingbird_text: hsl(201, 21%, 36%);
$hummingbird_bg: hsl(201, 20%, 96%);
$hummingbird_footer: hsl(201, 20%, 100%);

$covid_primary_highlight: hsl(204, 87%, 32%);
$covid_secondary_highlight: hsl(204, 87%, 52%);
$covid_text: hsl(201, 21%, 36%);
$covid_bg: hsl(201, 20%, 96%);
$covid_footer: hsl(201, 20%, 100%);


body {
  a {
    color: $default_primary_highlight;
  }
  .button.is-ghost {
    color: $default_primary_highlight;
  }
  .metadata-section .metadata-title {
    color: $default_primary_highlight;
  }
  
}

body.cdc {
  a {
    color: $cdc_primary_highlight;
  }
  .button.is-ghost {
    color: $cdc_primary_highlight;
  }

  .metadata-section .metadata-title {
    color: $cdc_primary_highlight;
  }
  
  
}

body.coordinate {
  a {
    color: $coordinate_primary_highlight;
  }
  .button.is-ghost {
    color: $coordinate_primary_highlight;
  }
  .metadata-section .metadata-title {
    color: $coordinate_primary_highlight;
  }
  mark {
    background-color: hsl(52 80% 80%);
  }

  .button.is-info,
  fieldset .button.is-info {
    color: hsl(178, 5%, 10%);
    font-weight: 700;
    background-color: transparent;
  }

  .switch[type=checkbox].is-info:checked+label::before,
  .switch[type=checkbox].is-info:checked+label:before {
    background: $coordinate_secondary_highlight;
  }

  main {
    background-color: hsl(178, 5%, 96%);
  }

  .view-selector .react-select__option:hover {
    cursor: pointer;
    background-color: hsl(178, 20%, 95%);
  }

  .view-selector .react-select__option--is-selected {
    background-color: hsl(178, 20%, 95%);
    color: $coordinate_text;
  }
  .relative {
    position: relative;
  }

  header h1 {

    color: $coordinate_text;
  }

  color: $coordinate_text;

  :focus-visible, .focus-visible:focus-visible, .is-focused:focus-within, input[type=checkbox]:focus-visible + label {
    outline: $coordinate_focus solid 2px !important;
  }
}

main {
  background-color: $default_bg;
}

.cdc main {
  background-color: $cdc_bg;
}

.coordinate main {
  background-color: $coordinate_bg;
}

footer {
  background-color: $default_footer;
}

.cdc footer {
  background-color: $cdc_footer;
}


.coordinate footer {
  background-color: $coordinate_footer;
}

.cdc h2, .cdc .panel-title {
  color: $cdc_text;
}

.coordinate h2, .coordinate .panel-title {
  color: $coordinate_text;
}

.hummingbird h2, .hummingbird .panel-title {
  color: $hummingbird_text;
}

.covid h2, .covid .panel-title {
  color: $covid_text;
}