:root {
--primary_highlight: hsl(204, 87%, 32%);
--secondary_highlight: hsl(204, 87%, 40%);
--text: hsl(201, 21%, 36%);
--bg: hsl(201, 20%, 96%);
--footer: hsl(201, 20%, 100%);
}


.cdc {
  --primary_highlight: hsl(204, 87%, 32%);
  --secondary_highlight: hsl(204, 87%, 40%);
  --text: hsl(201, 21%, 36%);
  --bg: hsl(201, 20%, 96%);
  --footer: hsl(201, 20%, 100%);
}

.coordinate {
  --primary_highlight: hsl(178, 62%, 25%);
  --secondary_highlight: hsl(52, 24%, 63%);
  --text: hsl(208, 7%, 36%);
  --bg: hsl(178, 5%, 92%);
  --footer: hsl(178, 5%, 100%);
}

.hummingbird {
  --primary_highlight: hsl(204, 87%, 32%);
  --secondary_highlight: hsl(204, 87%, 40%);
  --text: hsl(201, 21%, 36%);
  --bg: hsl(201, 20%, 96%);
  --footer: hsl(201, 20%, 100%);
}

.covid {
  --primary_highlight: hsl(204, 87%, 32%);
  --secondary_highlight: hsl(204, 87%, 40%);
  --text: hsl(201, 21%, 36%);
  --bg: hsl(201, 20%, 96%);
  --footer: hsl(201, 20%, 100%);
}

body {
  a, a.navbar-item, .ais-ClearRefinements-button, .button.is-ghost, .metadata-section .metadata-title  {
    color: var(--primary_highlight);
  }

  
}
.searchwrapper {
  background-color: rgba(0,0,0,0.02); 
    border-radius: 6px;
}
main {
  color: var(--text);
  background-color: var(--bg);
}

.switch[type=checkbox].is-info:checked+label::before,
.switch[type=checkbox].is-info:checked+label:before {
  background-color:var(--secondary_highlight);
}
.logo-title h1 {
color: var(--text);
}


footer {
  background-color: var(--footer);
}

h2, .panel-title {
  color: var(--text);
}

