$cdc_primary_highlight: 	hsl(204, 87%, 32%);
$cdc_secondary_highlight: 	hsl(204, 87%, 52%);
$cdc_text: 	hsl(201, 21%, 36%);
$cdc_bg: hsl(201, 20%, 96%);
$cdc_footer: hsl(201, 20%, 92%);

$coordinate_primary_highlight: 	hsl(178, 62%, 32%);
$coordinate_secondary_highlight: hsl(52, 24%, 63%);
$coordinate_text: 	hsl(208, 7%, 46%);
$coordinate_bg: hsl(178, 5%, 92%);
$coordinate_footer: hsl(178, 5%, 92%);




body.cdc {
    a {
      color: $cdc_primary_highlight;
    }
  }
  
  body.coordinate {
    a {
      color: $coordinate_primary_highlight;
    }
  
    mark {
      background-color: hsl(52 80% 80%);
    }
  
    .button.is-info,
    fieldset .button.is-info {
      color: hsl(178, 5%, 10%);
      font-weight: 700;
      background-color: transparent;
    }
  
    .switch[type=checkbox].is-info:checked+label::before,
    .switch[type=checkbox].is-info:checked+label:before {
      background: $coordinate_secondary_highlight;
    }
  
    main {
      background-color: hsl(178, 5%, 96%);
    }
  
    .view-selector .react-select__option:hover {
      cursor: pointer;
      background-color: hsl(178, 20%, 95%);
    }
  
    .view-selector .react-select__option--is-selected {
      background-color: hsl(178, 20%, 95%);
      color: $coordinate_text;
    }
  
  
    header h1 {
  
      color: $coordinate_text;
    }
  
    color: $coordinate_text;
  
  }

  .cdc main {
    background-color: $cdc_bg;
  }

  .coordinate main {
    background-color: $coordinate_bg;
  }

  .cdc footer {
    background-color: $cdc_footer;
    }


.coordinate footer {
    background-color: $coordinate_footer;
    }





