/* inter-regular - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v18-greek_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v18-greek_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Import third party styles from node packages */
@import '~bulma/bulma.sass';
@import '~bulma-switch/src/sass/index.sass';
// @import '~searchkit/theming/theme.scss';
@import '~instantsearch.css/themes/satellite.css';
@import 'modules/_instantsearch.scss';
// @import '~react-select/scss/default.scss';

/* Import styles from modules */
@import 'modules/_variables.scss';
@import 'modules/_header.scss';
@import 'modules/_body.scss';
@import 'modules/_footer.scss';
@import 'modules/_filters.scss';
@import 'modules/_panel.scss';
@import 'modules/_tooltip.scss';
@import 'modules/_mobile.scss';
@import 'modules/_branding.scss';
@import 'modules/_warnings.scss';
@import 'modules/_utility.scss';
@import 'modules/_thematicViews.scss';