body {
  min-width: auto;
  text-align: left;

  .columns {
    margin: auto;
  }

  .sk-toggle-option.is-active {
    background-color: $cessda_gold;
    border-color: $cessda_gold;
  }

  .sk-layout {
    background-color: $white;

    a {
      color: $cessda_gold;
    }

    .sk-toggle-option {
      color: $cessda_gold;
    }

    .sk-toggle-option.is-active {
      color: $white;
    }
  }

  /* Override reactselect*/
  .sk-hits-grid, .sk-hits-list {
    margin: 0;
  }

  .sk-layout__filters, .sk-layout__results {
    box-shadow: none;
  }

  .dsn-list-pagination {
    padding: 10px;
    border-top: $cessda_dotted;
  }

  .sk-hits-list__rights {
    margin: 5px 0;
    padding: 2px 0;
    border-radius: 3px;

    * {
     border-radius: 3px;
    }

    svg {
      margin-right: 5px;
    }
  }

  .sk-hits-list__read-more, .go-to-collection, .go-to-study {
    svg {
      margin-right: 5px;
    }
  }

  .go-to-collection, .go-to-study {
    margin-right: 10px;
  }

  .language-picker {
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #455963;
    color: #ffffff;
    font-size: 12px;

    .flag-select .selected--flag--option {
      img {
        top: 6px;
      }

      .country-label, .arrow-down {
        color: #ffffff;
        font-size: 12px;
      }
    }
  }

  .sk-hits-stats {
    display: inline-block;
    margin-right: 20px;

    .sk-hits-stats__info {
      color: #ffffff;
      font-size: 13px;
    }
  }

  .sk-reset-filters {
    color: #ffffff !important;
    display: inline-block;
    margin: 10px 15px 0;
    padding: 2px 6px;
    flex-grow: 0;
    font-size: 13px;
    background-color: #59707b;

    &:hover {
      text-decoration: none;
      background-color: #6a8592;
    }

    &.is-disabled {
      opacity: 0.6;
    }
  }

  .sk-action-bar-row {
    display: block;
    background-color: #f4f4f1;
    padding: 10px 15px;
    border-radius: 3px;

    label {
      font-weight: 700;
      font-size: 14px;
    }

    select {
      background-color: #ffffff;
      border: 2px solid #eaeae8;
    }
  }
}

.root__search .sk-refinement-list__view-more-action {
  display: none;
}

.sk-layout__body {
  margin: 0;
  min-width: auto;

  .list_hit {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 3px;

    &:hover {
      background-color: $hover_hit;
    }
  }

  .sk-hits-grid__meta, .sk-hits-grid__desc {
    font-size: 1rem;
  }


  /* ==========================================================================
       Search/Searchfields:
        > general changes to filter facettes
        > specification for year filter
        > Invisibility of specific searchkit features not being used
   ========================================================================== */

  .sk-layout__filters {
    position: relative;

    & .dsn-list-narrow {
      padding-top: 5px;
      color: $cessda_gold;
      font-weight: bold;
    }

    & .Select-menu-outer {
      top: 0;
      left: 250px;
      width: 200%;
      box-shadow: 3px 1px 6px 5px rgba(85,85,5,.3);
      border-radius: .4em;
      float: left;
      position: absolute;
      font-size: .9em;
    }

    .filter--anydateYear {
      margin-top: 20px;

      & .sk-range-input__submit {
          color: $cessda_gold;
      }

      & .sk-range-input__input {
        flex: none;
        width: 70px;
        color: $cessda_gold;
      }
    }

    .Select-placeholder {
      color: #c3c3c3;
      max-width: 90%;
    }

    .Select-value {
      width: 100%;
      margin: 0;
    }
  }

  .sk-layout__filters .sk-panel {
    width: 90%;
    background-color: #f4f4f1;
    padding: 15px;
    border-radius: 3px;

    & input {
      padding-left: 10px;
      color: #c3c3c3;
    }

    .sk-panel__header {
      margin-bottom: 0;
    }

    .sk-panel__content {
      margin: 10px;

      .Select-control, .Select-menu-outer, .sk-range-input__input, button {
        background-color: #ffffff;
        border: 2px solid #eaeae8;
        border-radius: 3px;
        box-shadow: none;
      }

      .Select-control {
        padding-right: 2px;
      }

      .Select-value {
        background-color: rgba(244, 244, 241, 0.5);
        border-radius: 3px;
        border: 1px solid #eaeae8;
        color: #555555;
        margin: 1px;
        padding: 4px 6px;

        .Select-value-icon {
          border-right: 1px solid #eaeae8;

          &:hover {
            background-color: rgb(234, 234, 232);
            color: #000000;
          }
        }

        .Select-value-label {
          font-size: 13px;
        }
      }

      .Select-arrow-zone {
        display: none;
      }

      .Select-menu-outer {
        max-height: 250px;

        .Select-menu {
          max-height: 246px;

          .Select-option.is-focused {
            background-color: #eaeae8;
          }
        }
      }
    }
  }

  .Select--multi .Select-value-icon, .Select--multi .Select-value-label {
    display: initial;
  }

  .sk-panel__content .Select-aria-only {
    display: none;
  }

 .Select-clear-zone {
    position: absolute;
    top: -500px;
    display: none;
    }

    & .sk-layout__results .sk-hits-grid-hit .readMore svg{
      margin-right: 5px;
    }
}


/* ==========================================================================
       Specific: Detail page
        > general layout / hit detail
        > similars
        > Add to favorites
        > back button styling
   ========================================================================== */

.root__detail {

  .sk-hits-grid__meta li {
    margin: 0;
  }



  .sk-layout__body {
    margin-bottom: 0;
    margin: auto;
  }

  .sk-layout__results ul {
    list-style-type: disc;
    padding-left: 45px;
    word-break: break-word;
  }

  .sk-hits-grid__hith4_detail, .sk-hits-grid__item_detail .sk-hits-grid__desc span, .sk-hits-grid__meta span, .sk-hits-grid__item_detail .sk-hits-grid__detail-label, .dsn-detail-metadataprov, .dsn-detail-dataprov {
    font-weight: bold;
    line-height: 1.38;
  }

  .sk-hits-grid-hit, .dsn-detail-dataprov, .dsn-detail-metadataprov {
    margin: 10px 0 10px 0;
  }

  .sk-hits-grid__hith4_detail {
    color: $cessda_gold;
    clear: both;
    padding-top: 20px;
  }
  .dsn-detail-time2_span {
    font-size: 12px;
    line-height: 1.9;
    margin-top: 35px;
  }

  .dsn-detail-descspacer {
    margin: 10px 0 10px 0;
  }

  .dsn-detail-time2_span {
    font-size: 12px;
    line-height: 1.9;
    color: #555555;
    margin-top: 35px;
  }

  .dsn-detail-sourceLINK {
    width: 220px;
    height: 45px;
    border-radius: 100px;
    border: solid 2px $greyish-brown;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    & a {
      color: $greyish-brown;
    }
  }

  .theWholeDetailsWithSimilars {
    position: relative;

    .similars {
      margin-top: 50px;

      h1 {
        padding: 0 0 20px 5px;
        color: $cessda_gold;
        font-size: 2rem;
      }

      .simItem {
        padding: 0 0 10px 20px;
      }
    }
  }

  .sk-hits-stats__info, .sk-toggle {
    display: none;
  }

  .dsn-detail-metaact {
    background-color: rgba(85, 85, 85, 0.05);
    padding: 10px;
    opacity: 0.6;
    cursor: default;

    & img {
      float: left;
      margin-right: 25px;
    }
  }

  .dsn-detail-backToResults {
      width: 161px;
      height: 40px;
      border-radius: 40px;
      background-color: $cessda_gold;
      display: flex;
      justify-content: center;
      align-items: center;

      & a {
        color: $white;
        text-decoration: none;
      }
  }
}

/* ==========================================================================
       Bottom: Pagination
   ========================================================================== */

.sk-pagination-navigation.is-numbered {
  width: auto;

  .sk-toggle {
    margin-left: 0;
  }
}

@media screen and (min-width: 480px){
  .sk-pagination-navigation.is-numbered {
      width: 45%;
  }
}

@media screen and (max-width: 920px){
  .sk-range-input {
    display: block;
  }
}

/* ==========================================================================
       About
   ========================================================================== */

.dsn-about_root {

  .about__text {
    padding: 20px;
    line-height: 1.5;
  }

  .about__buttons a {
    border-radius: 25px;
    text-decoration: none;
    color: black;
    border: solid 1px #9b9b9b;

    &:focus {
      border: solid 1px #9b9b9b;
      box-shadow: none;
    }
  }

  @media screen and (max-width: 768px){
    .about__buttons {
      text-align: center;
    }
  }

  @media screen and (min-width: 769px){
    .about__buttons .column:nth-child(2) {
      margin-left: 25px;
    }
  }

  ul {
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
  }
}
