@import "design_scss/_variables.scss";

  /* ==========================================================================
       Navigation bar
   ========================================================================== */

header {
  .cessda_top {
    background-color: $cessda_blueish;
    background-image: url("../img/largebar.png");
    background-position: 47% 0;
    height: 35px;
  }

  .nav {
    align-items: center;
    background-color: $cessda_blueish;
  }

  .nav-item {
    display: block;
    white-space: initial;

    & .cessda a{
      font-family: cessda !important;
      font-size: 3.5rem;
      color: $white;
      text-decoration: none;
    }
    & .cessda_beta {
      color: $white;
      font-family: 'Kanit', sans-serif;
      font-size: 0.75rem;
      letter-spacing: 2px;
      max-width: 250px;
    }

    & .cessda_beta--red {
      font-family: 'Kanit', sans-serif;
      font-size: 0.75rem;
      letter-spacing: 2px;
      color: #d32f2f;
      font-weight: bold;
    }
  }

    & .nav-toggle {
      align-items: center;
      display: flex;
      justify-content: center;
      color: $white;

      &:hover {
        background-color: $cessda_blueish;
      }
      &:focus {
        background-color: $cessda_blueish;
      }
    }

    & .nav-left {
      justify-content: center;
      overflow-x: hidden;

      & a {
        width: 50%;
        height: auto;

        & img {
          max-height: 3rem;
        }
      }
    }

    & .nav-right {
      padding: 10px;
      justify-content: center;

      & .nav-item {
        position: relative;
      }
    }


  .header__searchbox {
    position: relative;
  }
  .sk-search-box  {
    background-color: $white;
    border: 1px solid $dark_grey;
    border-radius: 25px;
    color: $light_grey;
    height: 45px;
    width: 500px;

    &.is-focused {
      background-color: $white;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 999px){
    .sk-search-box {
      width: 400px;
    }
  }
}

@media screen and (min-width: 769px){
  .nav-toggle {
      display: none !important;
  }

  .nav
  {
    & .nav-menu {
      position: relative;
    }
  }
}

@media screen and (max-width: 768px){
  header .cessda_top {
    background-position: 50% 0;
  }

  header .sk-search-box {
    width: auto;
  }
}

@media screen and (max-width: 600px){
  header .cessda_top {
    background-position: 53% 0;
  }
}

