.root__start {
  .sk-layout__body {
    max-width: initial;
    min-width: initial;
    display: block;
    border-bottom: none !important;
    margin-top: 150px;

    .cessda_start {
      background-color: $cessda_blueish;
      padding: 1.5rem 2.5rem;
      margin: 0;
      margin-bottom: 150px;
      background-image: url("../img/largebar.png");
      background-position: 47% 0;
      height: 55px;
      position: relative;

      .cessda {
        font-family: cessda !important;
        font-size: 3rem;
        color: $white;
        position: absolute;
        right: 25px;
        top: -10px;
      }

      @media screen and (max-width: 1000px){
        background-position: 51% 0;
      }

      @media screen and (max-width: 810px) {
        background-position: 54% 0;
      }

      @media screen and (max-width: 686px){
        background-position: 57% 0;
      }
    }

    .searchbox__container {
    @media screen and (min-width: 769px){
      padding-left: 50px;
    }
    
    @media screen and (max-width: 768px){
      display: flex;
      justify-content: center;
    }

      .searchbox {
        position: relative;
        max-width: 550px;

        .sk-search-box {
          height: 45px;
          border-radius: 100px;
          background-color: #ffffff;
          border: solid 1px #9b9b9b;
        }
      }
    }
  }
}

@media screen and (min-width: 768px){
  .cessda__start-text {
    padding-left: 100px;
  }
}