/* ==========================================================================
    Utility-Topbar: 
     > Hit count
     > [Advanced | History | Favorites]
     > [Relevance | Latest | First] [5 | 10 | 50]
  ========================================================================== */

.utility-topbar {
  
  .dsn-list-advOpt {
    & .dsn-list-opt--disabled {
      color: #c3c3c3 !important;
      cursor: default !important;
      text-decoration: none;
    }

    span {
      margin: 0 5px 0 5px;  
    }
  }

  @media screen and (max-width: 768px){
    .dsn-list-rlf {
      margin: 0 50px;
    }
    .dsn-list-pss {
      margin: 0 100px;
    }
  }

  & .utility-topbar__statsButton.columns {
    margin-top: 0;
    padding-top: 10px;
    border-bottom: $cessda_dotted;
  }

  & .dsn-list-options.columns {border-bottom: $cessda_dotted;}

  .utility-topbar__statsButton {
    @media screen and (min-width: 1000px){
      .dsn-list-advOpt {
        display: flex;
        justify-content: space-around;
        }
    }

    @media screen and (max-width: 768px) {
      .utility-topbar__statsButton {
        display: flex;
      }
    }


    @media screen and (max-width: 480px) {
      .dsn-list-options {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }

      a.dsn-list-opt {
        display: list-item;
        list-style: none;
      }
  
      .dsn-list-advOpt {
        & span {
          display: none;
        }
        & a {
          float: right;
        }
      }
    }

    @media screen and (min-width: 481px) and (max-width:999px){
      .dsn-list-options {
        width: 90%;
        display: flex;
        margin-left: 5%;
      }
    }
  }
}

.root__detail .utility-topbar .dsn-list-options.columns {
  border-bottom: transparent;
}