# GCP Defininition
REGION=europe-west1
ZONE=europe-west1-b
GCP_PROJECT=cessda-development
NET=jenkins-net
SUBNET=jenkins-subnet

# TO EDIT
CLIENT=cessda
PRODUCT=pasc
MODULE=searchkit
ENVIRONMENT=dev
IMAGE_NAME=eu.gcr.io/$GCP_PROJECT/$PRODUCT-$MODULE:$ENVIRONMENT

# gcloud sdk setup
gcloud config set project $GCP_PROJECT
gcloud config set compute/region $REGION
gcloud config set compute/zone $ZONE
