REGION=europe-west1
ZONE=europe-west1-b
PROJECT=cessda-development
NET=jenkins-net
SUBNET=jenkins-subnet
PRODUCT=cessda-pasc

# TO EDIT
MODULE=searchkit
ENVIRONMENT=staging
IMAGE_NAME=eu.gcr.io/$GCP_PROJECT/$PRODUCT-$MODULE:$ENVIRONMENT

gcloud config set project $PROJECT
gcloud config set compute/region $REGION
gcloud config set compute/zone $ZONE
