# GCP Defininition
REGION=europe-west1
ZONE=europe-west1-b
GCP-PROJECT=cessda-development
NET=jenkins-net
SUBNET=jenkins-subnet

# TO EDIT
CLIENT=cessda
PRODUCT=pasc
MODULE=searchkit
ENVIRONMENT=dev

# gcloud sdk setup
gcloud config set project $GCP-PROJECT
gcloud config set compute/region $REGION
gcloud config set compute/zone $ZONE
